@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@font-face {
  font-family: "TildaSansBold";
  src: url("../fonts/TildaSans-Bold.eot");
  src: url("../fonts/TildaSans-Bold.woff2") format("woff2"), url("../fonts/TildaSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TildaSansLight";
  src: url("../fonts/TildaSans-Light.eot");
  src: url("../fonts/TildaSans-Light.woff2") format("woff2"), url("../fonts/TildaSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TildaSansSemibold";
  src: url("../fonts/TildaSans-Semibold.eot");
  src: url("../fonts/TildaSans-Semibold.woff2") format("woff2"), url("../fonts/TildaSans-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.tilda-sans-bold {
  font-family: "TildaSansBold";
}

.tilda-sans-light {
  font-family: "TildaSansLight";
}

.tilda-sans-semibold {
  font-family: "TildaSansSemibold";
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}
.footer__logo {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
.footer__links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.footer__links a {
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.footer__links a img {
  display: inline-block;
  width: 60%;
}
.footer__copyright {
  text-align: center;
}