@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@font-face {
  font-family: "TildaSansBold";
  src: url("../fonts/TildaSans-Bold.eot");
  src: url("../fonts/TildaSans-Bold.woff2") format("woff2"), url("../fonts/TildaSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TildaSansLight";
  src: url("../fonts/TildaSans-Light.eot");
  src: url("../fonts/TildaSans-Light.woff2") format("woff2"), url("../fonts/TildaSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TildaSansSemibold";
  src: url("../fonts/TildaSans-Semibold.eot");
  src: url("../fonts/TildaSans-Semibold.woff2") format("woff2"), url("../fonts/TildaSans-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.tilda-sans-bold {
  font-family: "TildaSansBold";
}

.tilda-sans-light {
  font-family: "TildaSansLight";
}

.tilda-sans-semibold {
  font-family: "TildaSansSemibold";
}

.slogan__text {
  font-size: 20px;
}
@media (max-width: 410px) {
  .slogan__text {
    font-size: 16px;
  }
}

.input {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  padding: 0px 0px 20px;
}
.input:focus {
  box-shadow: none;
  border-bottom: 2px solid #61a6f6;
}

.trial__btn {
  background-color: #0B172D;
  color: #FFF;
  border-radius: 30px;
  border: none;
  transition: 0.2s;
}
.trial__btn:hover {
  background-color: #4f5767;
}

.examples {
  padding: 0px 20px;
}
.examples__imageContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  margin-bottom: 20px;
}
.examples__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}