@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@font-face {
  font-family: "TildaSansBold";
  src: url("../fonts/TildaSans-Bold.eot");
  src: url("../fonts/TildaSans-Bold.woff2") format("woff2"), url("../fonts/TildaSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TildaSansLight";
  src: url("../fonts/TildaSans-Light.eot");
  src: url("../fonts/TildaSans-Light.woff2") format("woff2"), url("../fonts/TildaSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TildaSansSemibold";
  src: url("../fonts/TildaSans-Semibold.eot");
  src: url("../fonts/TildaSans-Semibold.woff2") format("woff2"), url("../fonts/TildaSans-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.tilda-sans-bold {
  font-family: "TildaSansBold";
}

.tilda-sans-light {
  font-family: "TildaSansLight";
}

.tilda-sans-semibold {
  font-family: "TildaSansSemibold";
}

body {
  overflow-x: hidden;
}

.slogan__text {
  font-size: 20px;
}
@media (max-width: 410px) {
  .slogan__text {
    font-size: 16px;
  }
}

.input {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  padding: 0px 0px 20px;
}
.input:focus {
  box-shadow: none;
  border-bottom: 2px solid #61a6f6;
}

.trial__btn {
  background-color: #0B172D;
  color: #FFF;
  border-radius: 30px;
  border: none;
  transition: 0.2s;
}
.trial__btn:hover {
  background-color: #4f5767;
}

.examples {
  padding: 0px 20px;
}
.examples__imageContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  margin-bottom: 20px;
}
.examples__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.steps {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.steps__number {
  text-align: center;
  padding-bottom: 64px;
  width: 50px;
  position: relative;
}
.steps__number span {
  display: inline-block;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  background-color: #222222;
  border-radius: 50%;
}
.steps__text {
  max-width: 250px;
  text-align: left;
}
.steps__number:nth-child(1) span::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background-color: #222;
  display: inline-block;
  height: 60px;
}
.steps__number:nth-child(1) .steps__text {
  position: absolute;
  top: 10px;
  left: -280px;
}
.steps__number:nth-child(2) span::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background-color: #222;
  display: inline-block;
  height: 60px;
}
.steps__number:nth-child(2) .steps__text {
  position: absolute;
  top: 0;
  right: -280px;
}
.steps__number:nth-child(3) span::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background-color: #222;
  display: inline-block;
  height: 60px;
}
.steps__number:nth-child(3) .steps__text {
  position: absolute;
  top: 0;
  left: -280px;
}
.steps__number:nth-child(4) span::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background-color: #222;
  display: inline-block;
  height: 60px;
}
.steps__number:nth-child(4) .steps__text {
  position: absolute;
  top: 10px;
  right: -248px;
}
.steps__number:nth-child(5) .steps__text {
  position: absolute;
  top: 10px;
  left: -280px;
}
@media (max-width: 768px) {
  .steps {
    align-items: start;
  }
  .steps__number {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .steps__number span {
    line-height: 80px;
    height: 80px;
    width: 80px;
    min-width: 80px;
  }
  .steps__number span::after {
    left: 40px !important;
    transform: translateX(-50%) !important;
  }
  .steps__text {
    text-align: right !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
  }
}

.alim__top {
  padding-bottom: 60px;
  position: relative;
}
.alim__top::after {
  content: "";
  height: 3px;
  background-color: #222222;
  display: inline-block;
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 50px;
}

.reviews__content {
  padding: 0px 40px 30px;
  max-width: 800px;
  margin: 0 auto;
  font-size: 20px;
}
.reviews__details {
  padding-bottom: 30px;
}