@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@font-face {
  font-family: "TildaSansBold";
  src: url("../fonts/TildaSans-Bold.eot");
  src: url("../fonts/TildaSans-Bold.woff2") format("woff2"), url("../fonts/TildaSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TildaSansLight";
  src: url("../fonts/TildaSans-Light.eot");
  src: url("../fonts/TildaSans-Light.woff2") format("woff2"), url("../fonts/TildaSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TildaSansSemibold";
  src: url("../fonts/TildaSans-Semibold.eot");
  src: url("../fonts/TildaSans-Semibold.woff2") format("woff2"), url("../fonts/TildaSans-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.tilda-sans-bold {
  font-family: "TildaSansBold";
}

.tilda-sans-light {
  font-family: "TildaSansLight";
}

.tilda-sans-semibold {
  font-family: "TildaSansSemibold";
}

body {
  padding-top: 60px;
}

.speaking {
  padding-top: 30px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.speaking__resetBtn {
  font-size: 25px;
  padding: 10px 30px;
  cursor: pointer;
  margin-bottom: 30px;
}
.speaking__explanation {
  padding-bottom: 50px;
  font-weight: 400;
}
.speaking__question {
  padding-bottom: 30px;
  font-weight: bold;
}

.timer {
  font-size: 40px;
  text-align: center;
  line-height: 1;
  margin-top: 20px;
}
.timer__done {
  color: #ec1c24;
}
.timer__done p {
  color: black;
}
.timer__state {
  margin-top: 40px;
  font-weight: bold;
}