@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@font-face {
  font-family: "TildaSansBold";
  src: url("../fonts/TildaSans-Bold.eot");
  src: url("../fonts/TildaSans-Bold.woff2") format("woff2"), url("../fonts/TildaSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TildaSansLight";
  src: url("../fonts/TildaSans-Light.eot");
  src: url("../fonts/TildaSans-Light.woff2") format("woff2"), url("../fonts/TildaSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TildaSansSemibold";
  src: url("../fonts/TildaSans-Semibold.eot");
  src: url("../fonts/TildaSans-Semibold.woff2") format("woff2"), url("../fonts/TildaSans-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.tilda-sans-bold {
  font-family: "TildaSansBold";
}

.tilda-sans-light {
  font-family: "TildaSansLight";
}

.tilda-sans-semibold {
  font-family: "TildaSansSemibold";
}

.writing {
  padding: 10px 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.writing__resetBtn {
  font-size: 25px;
  padding: 10px 30px;
  cursor: pointer;
  margin-bottom: 30px;
}
.writing__explanation {
  padding-bottom: 20px;
  font-size: 25px;
}
.writing__question {
  font-size: 35px;
  font-weight: bold;
}
.writing__text {
  margin-top: 20px;
  resize: none;
  display: block;
  width: 100%;
  font-size: 24px;
  height: 200px;
  padding: 5px;
}
.writing__submitBtn {
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  font-size: 30px;
  padding: 5px 20px;
}

.timer {
  font-size: 40px;
  text-align: center;
  line-height: 1;
  margin-bottom: 15px;
}
.timer__done {
  color: #ec1c24;
}
.timer__done p {
  color: black;
}
.timer__state {
  margin-top: 40px;
  font-weight: bold;
}